<!DOCTYPE html>
<html ng-app="myApp">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/5f0fc0cc0f.js"></script>
    <link rel="stylesheet" href="styles/style.css">
    <title>Una</title>
</head>
<body>
    <nav>
        <div class="logo-section">
            <a href="#">Your Logo</a>
            <button class="hb-button"><i class="fa fa-bars"></i></button>
        </div>
        <ul>
            <li><a href="#">Home</a></li>    
            <li><a href="#">Contact</a></li>
            <li><a href="#">About</a></li> 
            <li><a href="#">Portfolio</a></li>
        </ul>     
    </nav> 
    <section id="banner">
        <img class="img-responsive" src="images/bg-header.jpg" alt="">
            <div class="container">
                <h1 class="inner-heading">NEW REALTOR--NEW HOUSES</h1>
                <p>SEARCH PROPERTIES</p>
                <a class="btn btn-primary" href="#">More Info</a>    
            </div>        
        </div>     
    </section>
    <section id="services" ng-controller="ControllerA">
        <h2>{{header}}</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <i class="fa fa-area-chart"></i>
                    <h3>{{content}}</h3>
                </div>
                <div class="col-md-4 col-sm-4">
                    <i class="fa fa-cloud"></i>
                    <h3>{{content}}</h3>
                </div>
                <div class="col-md-4 col-sm-4">
                    <i class="fa fa-code"></i>
                    <h3>{{content}}</h3>
                </div>
            </div>    
        </div>
    </section>
    <section id="areaA">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Check Your Time</h2>    
                        <hr>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                                    <div class="widget">
                                        <div class="time">
                                            <p id="week" class="week"></p>
                                            <p id="month" class="month"></p> 
                                            <p>-</p>
                                            <p id="day" class="day"></p>
                                            <p>of</p>
                                            <p id="year" class="year"></p>
                                        </div>
                                        <div class="clock">
                                            <p id="hour" class="hour"></p>
                                            <p>:</p>
                                            <p id="minutes" class="minutes"></p>
                                            <p>:</p>
                                            <div class="seconds-box">
                                                <p id="ampm" class="ampm"></p>
                                                <p id="seconds" class="seconds"></p>
                                            </div>
                                        </div>
                                    </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                         <h2>Casa De Oro</h2>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus 
                             luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum 
                             facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, 
                             orci ac euismod semper, 
                             magna diam porttitor mauris, quis sollicitudin sapien justo in libero.
                            Vestibulum mollis mauris.</p>
                          <a href="index.html" class="btn btn-primary">More Info</a>  
                    </div>         
                </div><!--row-ends-here-->        
            </div>
    </section>
    <section id="gallery" ng-controller="ControllerM">
        <h2>{{header}}</h2>
        <p id="place1"></p>
        <hr>
        <div class="container">
            <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <img src="images/pic01.jpg" alt="">
                        <h2>{{content}}</h2>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <img src="images/pic02.jpg" alt="">
                        <h2>{{content}}</h2>
                    </div>
                    <div class="col-lg-6 col-md-6">
                            <img src="images/pic03.jpg" alt="">
                            <h2>{{content}}</h2>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <img src="images/pic01.jpg" alt="">
                        <h2>{{content}}</h2>
                    </div>
            </div>        
            <div class="row">
                <div id="btn" class="col-lg-12 text-center">
                    <a href="#" class="btn btn-primary">More Info</a>
                </div>
            </div>
    </section>
    <section id="areaB" ng-controller="ControllerB">
        <div class="container">
            <div class="row">
                 <div class="col-lg-12">
                      <h2>Elegantly Responsive</h2>
                      <hr>
                 </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <label ng-repeat="color in colors">
                        {{color}}
                        <input type="radio" ng-model="myStyle['background-color']"
                        ng-value="color" id="{{color}}" name="nColor">
                    </label>
                        <span class="rect" ng-style="myStyle"></span>
                    <hr>
                    Show Message: <input type="checkbox" ng-model="checked"/>
                    <h2 ng-if="checked" ng-bind="msg"></h2>
                </div> 
                <div class="col-md-6 col-sm-6">
                     <h2>REALTOR--NEW</h2>
                     <p>Venenatis at aliquet id, malesuada id mauris. Quisque erat urna,
                        iaculis sit amet ultricies a, sodales at velit.
                        Nunc nec congue mi. Morbi elementum elit sed odio imperdiet, 
                        id bibendum massa rutrum.</p>
                    <a href="#" class="btn btn-primary">More Info</a>    
                </div>   
            </div>
          </div>
    </section>
    <section id="Switching">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Change The Font and Color</h2>
                    <hr> 
                </div>
            </div>    
            <div class="row">
                <div class="col-lg-6">    
                    <div id="id1" class="classA">An Element With a touch of class.</div>
                    <button type="button" class="btn btn-primary" id="btn1">Change Me</button>
                </div>
                <div class="col-lg-6">
                    <img class="img-responsive" src="images/font-area.jpeg"/>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container text-center" ng-controller="ControllerC">
            <div class="row">
                    <div class="col-md-4">
                        <h2>{{header}}</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    
                        <p>{{content}}</p>
                        <hr>
                        <p>{{content}}</p>
                        <hr>
                        <p>{{content}}</p>
                        <hr>
                        <p>{{content}}</p>
                        <hr>
                    </div>
                    <div class="col-md-4">
                        <h2>{{header}}</h2>
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                            <p>{{content}}</p>
                            <hr>
                            <p>{{content}}</p>
                            <hr>
                            <p>{{content}}</p>
                            <hr>
                            <p>{{content}}</p>
                            <hr>
                    </div>
                    <div class="col-md-4 text-center">
                        <h2>Contact Us</h2>
                            <ul class="inline-social">
                                    <li><i class="fa fa-facebook"></i></li>
                                    <li><i class="fa fa-yelp"></i></li>
                                    <li><i class="fa fa-google-plus"></i></li>
                                    <li><i class="fa fa-twitter"></i></li>
                            </ul> 
                            <li class="days"ng-repeat="day in days">{{day}}
                            </li>   
                    </div>
            </div>        
        </div>
    </footer>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/main.js"></script>
<script src="js/writeIt.js"></script>
<script src="js/inject_custom.js"></script> 
<script src="js/toggleClass.js"></script> 
<!--<script src="js/config_run.js"></script>-->
</body>
</html>